.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:10px auto;
    padding:1rem 2rem;
    background-color: white;
    color:black;
    border-radius: 50px; 
    box-shadow: 1px 2px 4px 3px rgba(0,0,0,0.2);
}

.navbar{
    position: fixed;
    top:0;
    right:0;
    left:0;
}

.nav-links{
    width: 40%;;
    display: flex;
    justify-content: space-around;
}

.nav-links a{
    text-decoration: none;
    color:black;
}

.nav-links a:hover{
    color:red; 
}

.nav-button button{
    padding:0.5rem;
    border-radius: 20px;
    border:none;
}

.nav-button button:hover{
     color:white;
    background-color: red; 
    cursor: pointer;
    font-weight: 600;
}